/UF2NF1/Funciones_PiedraPapelTijeras/nbproject/private/
/UF2NF1/Funciones_PiedraPapelTijeras/build/
/UF2NF1/Funciones_PiedraPapelTijeras/dist/
/UF2NF1/EjercicioRuleta/nbproject/private/
/UF2NF1/EjercicioRuleta/build/
/UF2NF1/EjercicioRuleta/dist/
